{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log In" %}{% endblock %}
{% block content %}

<!-- ======= Check if logged in ======= -->
{% if user.is_authenticated %}

<section id="login" class="login">
    <div class="container section" data-aos="fade-up">
        <div class="section-title">
            <h2>You are logged in</h2>
            <p>Click to book a table</p>
            <div class="btns">
                <a href="{% url 'booktable' %}" class="btn-booktable animated fadeInUp scrollto">Book a Table</a>
            </div>
        </div>
        <div class="section-title">
            <h2>{% trans "Log out" %}</h2>
            <p>Click here to log out</p>
        </div>
    </div>
    <div class="btns">
        <a href="{% url 'account_logout' %}" class="btn-logout animated fadeInUp scrollto">Log Out</a>
    </div>
</section>
{% else %}

<!-- ======= Log in Section ======= -->
<section id="login" class="login">
    <div class="container section" data-aos="fade-up">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <div class="section-title">
                    <h2>Log in</h2>
                    <p>Enter your email address and password</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <form action="{% url 'account_login' %}" method="POST" class="form-control" data-aos="fade-up" data-aos-delay="100">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn-login" type="submit">{% trans "Log In" %}</button>
                </form>
                <div class="section-title">
                    <div class="signup-title">
                        <h2>Sign up</h2>
                        <p>Click here to register</p>
                    </div>
                    <div class="btns">
                        <a href="{% url 'account_signup' %}" class="btn-signup animated fadeInUp scrollto">{% trans "Sign Up" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="padding"></div>
</section>
{% endif %}
{% endblock %}