{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% endblock %}

{% block content %}

<section id="logout" class="logout">
  <div class="container section" data-aos="fade-up">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <div class="section-title">
          <h2>{% trans "Log Out" %}</h2>
          <p>Are you sure you want to log out?</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <div class="row">
          <div class="btns">
            <a href="{% url 'logout' %}" class="btn-logout animated fadeInUp scrollto">{% trans "Log Out" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
