{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% endblock %}

{% block content %}

<!-- ======= Sign Up Section ======= -->
<section id="signup" class="signup">
  <div class="container section aos-init aos-animate" data-aos="fade-up">
    <div class="section-title">
      <h2>Sign Up</h2>
      <p>Please enter your details</p>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <form action="{% url 'account_signup' %}" method="POST" id="signup_form" role="form" class="form-control aos-init aos animate"
          data-aos="fade-up" data-aos-delay="100">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="btns">
            <button class="btn-signup animated fadeInUp scrollto" type="submit">{% trans "Sign Up" %}</button>
          </div>
          <div class="section-title">
            <div class="login-title">
              <h2>Log in</h2>
              <p>Already signed up?</p>
            </div>
            <div class="btns">
              <a href="{% url 'account_login' %}" class="btn-login animated fadeInUp scrollto">Log in</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}