{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start">
        <div class="row">
            <div class="col-lg-8">
                <h1>Welcome to <span>Smitty's</span></h1>
                {% if user.is_authenticated %}
                <h2>Click below to book a table!</h2>
                <div class="btns">
                    <a href="{% url 'reserve_table' %}" class="btn-booktable animated fadeInUp scrollto">Book a Table</a>
                    <a href="{% url 'account_logout' %}" class="btn-logout animated fadeInUp scrollto">Log Out</a>
                </div>
                {% else %}
                <h2>Log in or Sign up to book a table!</h2>
                <div class="btns">
                    <a href="{% url 'account_login' %}" class="btn-login animated fadeInUp scrollto">Log In</a>
                    <a href="{% url 'account_signup' %}" class="btn-signup animated fadeInUp scrollto">Sign Up</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- End Hero -->

<main id="main">

    <!-- ======= How to Book Section ======= -->
    <section id="howtobook" class="howtobook section">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="howtobook-img">
                        <img src="{% static 'media/floorplan.jpg' %}" alt="floor plan of restaurant">
                    </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 howtobook-item">
                    <h3>How to book a table</h3>
                    <p class="fst-italic">
                        You have to be logged in to book a table. If you have signed up before
                        then click on the Log In and then sign up<br>
                        <br>
                        <strong>The four stages to booking a table once logged in</strong>
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Click on "book table"</li>
                        <li><i class="bi bi-check-circle"></i> Choose your desired table from the dropdown menu</li>
                        <li><i class="bi bi-check-circle"></i> Select a free date and the start & end times
                        <li><i class="bi bi-check-circle"></i> Click "Create Booking" to book your table
                        </li>
                    </ul>
                    <p>
                        Once you have confirmed your booking then you can view your booking
                        on the same page under "Your Reservations"<br>
                        You can then also change or cancel your booking.
                        Please cancel at the latest two hours before your start booking time.
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!-- End How to Book Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Which room</h2>
                <p>Which of these rooms is for you?</p>
            </div>

            <div class="row">

                <div class="col-lg-4">
                    <div class="box">
                        <h4>Dining Room</h4>
                        <p>Book a table in our dining room to fully enjoy our delicious food
                            away from the bussle of the bar</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box">
                        <h4>Sports Room</h4>
                        <p>Want to see that important match? We got you! Book a table here
                            and cheer with friends</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box">
                        <h4>Main Bar</h4>
                        <p>If you like live music, stand-up comedy, quizzes or a drink where it's
                            lively, this is for you</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Why Us Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg-b">
        <div class="container">

            <div class="section-title">
                <h2>Food</h2>
                <p></p>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Hamburgers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Fish & Chips</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Meat of the week</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Healthy Options</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Traditional Swedish</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Side dishes & extras</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>The bar standard - The Hamburger.</h3>
                                    <p class="fst-italic">Pick your hamburger then your sides.</p>
                                    <p>Choose from a meat or vegan patty, a Chicken Burger, a Halloumi Burger or a
                                        Portabello Mushroom Burger.
                                        Sides include chips, mash potato, corn and mixed vegetables.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{% static 'media/menu-section/hamburger.jpg' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Classic battered cod with chips</h3>
                                    <p class="fst-italic">England's most famous meal cooked in-house.</p>
                                    <p>A healthy-sized piece of cod battered and served with the standard
                                        accompaniment
                                        of chips, sauce and mushy peas - or boiled farm peas if desired.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{% static 'media/menu-section/fish-and-chips.jpg' %}" alt=""
                                        class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Meat of the week</h3>
                                    <p class="fst-italic">Every week there is a new selection of meat on offer.</p>
                                    <p>Check our boards to see what is on offer. Previous meats have included steak,
                                        belly pork,
                                        and duck. During the Thanksgiving and Christmas periods, you will be able to
                                        order turkey.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{% static 'media/menu-section/meats.jpg' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Choose from one of our healthy options</h3>
                                    <p class="fst-italic">Want a meal for under 1000 calories, pick one of these.
                                    </p>
                                    <p>We have Chicken with crushed harissa chickpeas, Egg-fried noodles and
                                        beansprouts,
                                        Ginger Chicken udon Noodles, and Spaghetti Bolognese.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{% static 'media/menu-section/healthy.jpg' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-5">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Choose from a few of the Swedish favourites</h3>
                                    <p class="fst-italic">If you prefer a classic Swedish then here you go.</p>
                                    <p>Never tried meatballs? Now is your chance!
                                        Do you like pea soup with pancakes to follow? We've got it here.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{% static 'media/menu-section/meatballs.jpg' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-6">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Side dishes for smaller meals or extras</h3>
                                    <p class="fst-italic">A good list if you want a small snack or add more to your
                                        order</p>
                                    <p>We have lots of potential smaller meals including soup, cheese on toast,
                                        nachos & cheese, ors
                                        chicken wings. Extras include a range of vegetables and sauces.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="{% static 'media/menu-section/soup.jpg' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Menu Section -->

    <!-- ======= Drinks Section ======= -->
    <section id="drinks" class="drinks section-bg">
        <div class="container">
            <div class="section-title">
                <h2>Drinks
                </h2>
                <p>Check Our Selection</p>
            </div>
            <div class="row drinks-container">
                <div class="col-lg-6 drinks-item filter-beers">
                    <img src="{% static 'media/drinks-section/guinness.jpg' %}" class="drinks-img" alt="">
                    <div class="drinks-content">
                        <h6>Guinness</h6>
                        <span>89kr pint (49kr half pint)</span>
                    </div>
                    <div class="drinks-ingredients">
                        Ireland's Number 1 export - The creamy goodness
                    </div>
                </div>
                <div class="col-lg-6 drinks-item filter-beers">
                    <img src="{% static 'media/drinks-section/ipa.jpg' %}" class="drinks-img" alt="">
                    <div class="drinks-content">
                        <h6>Ales, IPAs & Stouts</h6><span>89kr pint (49kr half pint)</span>
                    </div>
                    <div class="drinks-ingredients">
                        Brains Bitter, Brains SA, Sleepy Bulldog Pale Ale
                    </div>
                </div>

                <div class="col-lg-6 drinks-item filter-ciders">
                    <img src="{% static 'media/drinks-section/cider.jpg' %}" class="drinks-img" alt="">
                    <div class="drinks-content">
                        <h6>Ciders</h6><span>79kr pint (44kr half pint)</span>
                    </div>
                    <div class="drinks-ingredients">
                        Strongbow, Somersby, Thatcher's Gold
                    </div>
                </div>

                <div class="col-lg-6 drinks-item filter-beers">
                    <img src="{% static 'media/drinks-section/lager.jpg' %}" class="drinks-img" alt="">
                    <div class="drinks-content">
                        <h6>Lager</h6><span>79kr pint (44kr half pint)</span>
                    </div>
                    <div class="drinks-ingredients">
                        Pilser Urquell, Budvar, Bittberger
                    </div>
                </div>

                <div class="col-lg-6 drinks-item filter-wines">
                    <img src="{% static 'media/drinks-section/redwine.jpg' %}" class="drinks-img" alt="">
                    <div class="drinks-content">
                        <h6>Red Wine</h6><span>99kr per serving</span>
                    </div>
                    <div class="drinks-ingredients">
                        Pinot Noir, Merlot, Zinfandel, Rioja
                    </div>
                </div>

                <div class="col-lg-6 drinks-item filter-wines">
                    <img src="{% static 'media/drinks-section/whitewine.jpg' %}" class="drinks-img" alt="">
                    <div class="drinks-content">
                        <h6>White Wine</h6><span>99kr per serving</span>
                    </div>
                    <div class="drinks-ingredients">
                        Riesling, Pinot Gris, Chardonnay, Savignon Blanc
                    </div>
                </div>

                <div class="col-lg-6 drinks-item filter-wines">
                    <img src="{% static 'media/drinks-section/sparklingwine.jpg' %}" class="drinks-img" alt="">
                    <div class="drinks-content">
                        <h6>Sparkling Wine</h6><span>119kr per serving</span>
                    </div>
                    <div class="drinks-ingredients">
                        Champagne, Cava, Prosecco
                    </div>
                </div>

                <div class="col-lg-6 drinks-item filter-spirits">
                    <img src="{% static 'media/drinks-section/whisky.jpg' %}" class="drinks-img" alt="">
                    <div class="drinks-content">
                        <h6>Whiskey</h6><span>29kr-59kr per cl serving</span>
                    </div>
                    <div class="drinks-ingredients">
                        Tullamore Dew, Jameson, Famous Grouse
                    </div>
                </div>

                <div class="col-lg-6 drinks-item filter-spirits">
                    <img src="{% static 'media/drinks-section/spirits.jpg' %}" class="drinks-img" alt="">
                    <div class="drinks-content">
                        <h6>Other spirits</h6><span>29kr-59kr per cl serving</span>
                    </div>
                    <div class="drinks-ingredients">
                        Vodka, Gin, Bacardi and many more
                    </div>
                </div>

                <div class="col-lg-6 drinks-item filter-soft">
                    <img src="{% static 'media/drinks-section/oj.jpg' %}" class="drinks-img" alt="">
                    <div class="drinks-content">
                        <h6>Soft Drinks</h6><span>39kr per serving</span>
                    </div>
                    <div class="drinks-ingredients">
                        Coca Cola, Orange Juice, Mixers
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Drinks Section -->

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
        <div class="container">

            <div class="section-title">
                <h2>Live Events</h2>
                <p>Come and enjoy our live events in the Main Bar</p>
            </div>

            <div class="events-slider swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="{% static 'media/events-section/pubquiz.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>Pub Quiz</h3>
                                <div class="price">
                                    <p><span>Thursday nights</span></p>
                                </div>
                                <p class="fst-italic">
                                    Join The Three Amigos as they host their quiz every Thursday night - 20.00
                                    start.
                                </p>
                                <ul>
                                    <li><i class="bi bi-check-circled"></i> Don't forget to book your table!</li>
                                    <li><i class="bi bi-check-circled"></i> The quiz is free.</li>
                                    <li><i class="bi bi-check-circled"></i> A variety of topics and difficulty
                                        level.</li>
                                </ul>
                                <p>
                                    The Three Amigos have hosted the quiz since the bar opened in 2005. The running
                                    time is normally between 20.00-22.30.
                                    Everything needed is provided by the quizmasters, so just turn up and enjoy
                                    yourself.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="{% static 'media/events-section/live-music.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>Live Music</h3>
                                <div class="price">
                                    <p><span>Wednesdays, Fridays and Saturdays</span></p>
                                </div>
                                <p class="fst-italic">
                                    We have a range of live artists performing. Some to dance to and some to sit and
                                    enjoy.
                                </p>
                                <ul>
                                    <li><i class="bi bi-check-circled"></i> Wednesday night is troubadour night.
                                        More low-key but still lots of fun!</li>
                                    <li><i class="bi bi-check-circled"></i> Friday nights are reserved for live
                                        music to kick the week off with some energy.</li>
                                    <li><i class="bi bi-check-circled"></i> Saturday nights are for the headline
                                        artist of the week.</li>
                                </ul>
                                <p>
                                    Live acts normally play between 20:00 and 23:00. Be aware of your table position
                                    when booking. Some tables are closer to the stage which can be noisy! That can
                                    be preferrable
                                    for some people though.<br>The headline act changes from week to week. It could
                                    be a new
                                    young act, a cover band, a soul
                                    singer or, occasionally a well-known act. Previous live acts included Zara
                                    Larsson, Tom Jones, Jules Holland and the Manic Street Preachers.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="{% static 'media/events-section/standup.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>Stand Up</h3>
                                <div class="price">
                                    <p><span>Monday nights</span></p>
                                </div>
                                <p class="fst-italic">
                                    "I Don't Like Mondays" sang the Boomtown Rats in 1979, well, Mondays don't have
                                    to
                                    be so bad! If you like a laugh then come along!
                                </p>
                                <ul>
                                    <li><i class="bi bi-check-circled"></i> Acts normally start at 20.00.</li>
                                    <li><i class="bi bi-check-circled"></i> Bring a sense of humour!</li>
                                    <li><i class="bi bi-check-circled"></i> Jokes are more fun with friends.</li>
                                </ul>
                                <p>
                                    We have hosted Stand Up comedians since 2012 and we think it is a great start to
                                    the week.
                                    We are always open to booking new comedians to give them a chance. We have even
                                    booked some
                                    famous from around the world. Some huge successes were Sean Locke, Özz Nujen and
                                    Ali Wong.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>
    <!-- End Events Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg">

        <div class="container">
            <div class="section-title">
                <h2>Gallery</h2>
                <p>Some photos from our Restaurant</p>
            </div>
        </div>
        <div class="container col-lg">
            <div id="galleryCarousel" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#galleryCarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#galleryCarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#galleryCarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'media/gallery-section/bar-pic.jpg' %}" class="d-block w-100" alt="Nightime in the bar with many customers">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'media/gallery-section/cheers.jpg' %}" class="d-block w-100" alt="Glasses raised to cheers">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'media/gallery-section/alcohol-shelf.jpg' %}" class="d-block w-100" alt="Rows of shelves with bottles of drinks on them">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#galleryCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#galleryCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    <!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg-b">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Contact Us</p>
            </div>
        </div>
        <div class="container">

            <div class="row mr-5">

                    <div class="col-lg-6">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>Hagens backe 1d, 178 38 Ekerö</p>
                                <p><a href="https://maps.app.goo.gl/ApntUucnFzroZwqRA" target="_blank">Here is our location</a>
                                </p>
                            </div>
                            <div class="ratio ratio-16x9">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1006.4171040306406!2d17.80487935224385!3d59.26886245840444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f7480280f434b%3A0x145625970ec0bd85!2sHagens%20backe%201D%2C%20178%2038%20Eker%C3%B6!5e0!3m2!1sen!2sse!4v1715209278122!5m2!1sen!2sse"
                                        title="map-location" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info">
                            <div class="open-hours">
                                <i class="bi bi-clock"></i>
                                <h4>Open Hours:</h4>
                                <p>
                                    Monday-Wednesday:<br>
                                    11:00 AM - 23:00 PM
                                </p><br>
                                <p>
                                    Thursday-Sunday:<br>
                                    11:00 AM - 01:00 PM
                                </p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>testemailsmittysbar@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+46 811 223344</p>
                            </div>
                        </div>    
                    </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->
</main>
<!-- End #main -->

{% endblock %}